body {
  height: 100%;
  background-image: url("/assets/images/greygradientbackground.jpg");
}

.p-image {
  min-width: 480px;
  max-width: 480px;
}
/* main {
  min-height: calc(100vh - 24px);
  background-image: url("/assets/images/subtle-gray-gradient-light-white-gradient.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
} */

small > a {
  color: white;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

.box_group {
  margin: 0;
}

.box {
  margin: 20px;
}

.box img {
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  border: 1px solid #cccccc;
}

.box1 {
  float: left;
  position: relative;
  margin-left: 0;
}

.strip {
  box-sizing: border-box;
  position: absolute;
  top: 140px;
  background-color: #4aaaa5;
  width: 199.5px;
  height: 50px;
  padding: 20px, 100px;
  text-align: center;
  color: #ffffff;
  padding: 18px 0;
}
